html { background: black 
    url("6a229c0b44e287eaf176e3cada7e77c9--cool-backgrounds-abstract-backgrounds.jpg") 
    center center no-repeat; background-size: cover; color: white;}
body {display: block; place-items: center; margin: 0; 
    font-family: Inter, Helvetica, Arial, sans-serif; font-size: 24px; line-height: 1.5em;
    @media (min-width: 500px) { display:grid; }
} 


.Container {color:rgb(58, 6, 107);  background:rgb(79, 109, 245, 0.8);padding: 1rem; ;
    font-size: clamp(1rem, 2vw, 2rem); line-height: 2em;
    @media (min-width: 300px) {margin: 2vh; padding: 2rem; border-radius: 2rem}
@media (min-width: 500px)  {margin:6vw; padding: 3rem; }
}

header{}
       .Avatar { display:block; width:110px; height: auto; border-radius:10%; 
        margin:0 1 em 1em 1; @media (min-width: 380px) {float:left}; 
        @media (min-width: 930px) 
        {width: clamp(130px, 14vw, 12rem); } }
       .TitlulPaginii { display:block; font-size-adjust: clamp(2rem, 6vw, 4rem); 
        line-height: 1em; margin: 0.5rem 0 0; margin-left:200px}
       .DescrierePrincipala {display:block; margin-left: 150px; 
        @media (min-width:500px){margin-bottom:0.5em;}
    }
       
       main {clear: both; }
        .ListaLinkuri {display:block; margin:0; padding:0; border-top:1px solid #fff;
        @media (min-width: 1800px) {display:grid; grid-template-columns: ifr ifr;} }
          .ListaLink:hover {background: whtie; color: black;}
            .ListaItem { display:block; margin:0; padding:0; border-bottom:1px solid #fff;}
             .ListaLink { display:block; margin:0; padding:0.5em; color: #fff; 
                text-decoration:none;}
                .ListaTitlu { display:block; margin:0; padding:0; font-size:1em; 
                    line-height: 1.5em }
                    .ListaText { display:block; margin:0; padding:0; font-size:1em; 
                        line-height: 1.5em }
                     
        